<div class="container" fxLayout="column" fxLayoutGap="10px">
    <!-- Menu Bar -->
    <!-- <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div> -->
    <!-- Image price description of Dishes -->
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px"> 
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail',dish.id]">
                <!-- <div class="circletag"> -->
                <img height="200px" src={{dish.image}} alt={{dish.image}}>
                <!-- </div> -->
                <mat-grid-tile-footer>
                    <h1>{{dish.name | uppercase}}:</h1>
                    <!-- <p ><span>{{dish.description | lowercase}}</span></p> -->
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>

        <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
    </div>
</div>






